h1{
font-family: Helveticaneue;
font-size: 40px;
text-align: center;
padding-bottom: 10px;
position: relative;
color: black;
}

.input{
width: 400px;
box-shadow: none;
}

select{
width: 300px;
}

.file{
position: relative;
left: 100px;
padding-top: 20px;
}

input[type=submit]{
width: 300px;
position: relative;
left: 440px;
}

.heh{
font-family: Montserrat;
border: 2px solid #b9382e;
}

.green{
border: 2px solid #5eaa4d;
}

.card{
margin-bottom: 50px;
}

.title{
text-align: center;
}

.empty{
border: 4px solid #ff3860;
box-shadow: none;
}

.exists{
border: 4px solid #00d1b2;
box-shadow: none;
}

.card{
  width: 400px;
}

/*.card-image{
  width: 400px;
}*/
.title{
  height: 55px;
}

.card-content{
  text-align: center;
}
.card-footer-item{
  height: 80px;
  text-align: center;
}

[v-cloak] {
	display: none;
}